<div class="container">
    <div class="row">
        <div class="col-lg-8 sidenav">
          <button type="button" class="btn btn-light">Light</button>
        </div>
        <div class="col-lg-4 sidenav">  
        <button type="button" class="btn btn-light">Pizza</button>
        <button type="button" class="btn btn-light">Soup</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-light">Light</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
