<div class="container">
        <div class="row">
                <div class="col-sm- col-md-4 col-md-offset-1 border bill" >
                    <app-bill-detail></app-bill-detail>
                </div>
                <div class="col-sm-8 col-md-8 col-md-offset-1 border">
                    <div class="border category" >
                            <app-category></app-category>
                    </div>
                    <div class="border item" >
                            <app-product></app-product>
                    </div>
                        
                    </div>
        </div>
</div>
<router-outlet></router-outlet>
