.pizzaicon {
    position: absolute;
    padding: 2px;
  } 
  .image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;    
    margin: 0px;
    height:110px;
    text-align: center;
    vertical-align: bottom;
}
.add {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 50px;
    color: rgba(6,6,6,0.0);
}
.add:hover  {
    background-color: rgba(3,3,3,0.5);    
    color: white;    
    cursor: pointer;
}  